.vs/ombarella/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/ombarella/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
.vs/ombarella/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
.vs/ombarella/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/ombarella/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
.vs/ombarella/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
.vs/ombarella/FileContentIndex/d1687151-6a22-4af8-bdb2-90fc351c64df.vsidx
.vs/ombarella/FileContentIndex/ee48f038-d1e0-4c85-94d1-1c5711700c0d.vsidx
.vs/ombarella/v17/.suo
.vs/ombarella/v17/DocumentLayout.json
.vs/ombarella/FileContentIndex/6bfd3f33-3597-426d-ba1c-1fcc343e0f91.vsidx
*.vsidx
